a:hover {
  color: red;
}

img {
  width: 570px;
  height: 400px;
}

ul {
  font-style: italic;
}

ul li {
  font-style: normal;
}

.btn {
  background-color: #eee;
  color: red;
}

.col-sm-6 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.details {
  margin: 20px;
}

.jumbotron {
  text-align: center;
  background-image: url(../images/hike2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#map {
  width: 570px;
  height: 400px;
}
