a:hover {
  text-decoration: none;
  color: black;
}

a {
  color: #2d862d;
}

body {
  background: #c9dacb;
}

footer {
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  font-style: italic;
}

ul li {
  font-style: normal;
}

.btn {
  background-color: #eee;
  color: #2d862d;
}

button:hover {
  background-color: #eee;
  color: black;
}

select:invalid {
  color: gray;
}

.col-sm-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details {
  margin: 20px;
}

.jumbotron {
  text-align: center;
  background-image: url(../images/hike2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#map {
  width: 40%;
  height: 40%;
}


.btn {
  margin-top: 15px;
}
