a {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

a:hover {
  color: red;
}

.jumbotron {
  text-align: center;
  background-image: url(../images/hike2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
